name: Test

on:
  workflow_dispatch:

jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Generate Word Cloud
      uses: dan-mba/repos-topiccloud-action@main
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
    - name: Find
      run: |
        ls -l cloud.svg
        cat cloud.svg
   
